.Modal {
    z-index: 1000;
    position: absolute;
    top: 25%;
    left: 35%;
    right: 35%;
    bottom: 25%;
    background-color: white;
    opacity: 1;
  }

  .Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: gray;
  }