body{
    background-color: #1E88E5;
}
.img-wrapper{
    display: block;
    margin: 50px auto;
    position: relative;
}
#spriteImage img{
    max-height: 200px;
    display: block;
    margin: auto auto;
    border-radius: 50%;
}
.btn{
    color:#cb1d31!important;
}
#startGame{
    margin: 0 auto;
    display: block;
}
.container{
        margin-top: 10%!important;
}